<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>

<body>

<h1>
    Olá! Thymelef Configurado!!
</h1>

        <!--<div th:each="erro : ${#fields.detailedErrors('${cerveja.*}')}">  DESSA FORMA É PARA USAR A DIV FORA DO FORM (A DIFERENÇA É QUE TEM QUE PASSAR O OBJETO CERVEJA DENTRO DO ERRORS)
            <span th:text="${erro.message}"></span>
        </div>-->
    <form method="POST" th:object="${cerveja}">
        <span th:text="${mensagem}"></span>
            <div th:each="erro : ${#fields.detailedErrors()}">
                <span th:text="${erro.message}"></span>
            </div>
        <br>
        <labe for="sku"> Sku:</labe>
            <input type="text" id="sku" th:field="*{sku}"> <!-- QUANDO USADO O TH:FIELD ao inves do NAME, ele mantem o nome na tela-->
        </br>
        <label for="nome"> Nome:</label>
            <input type="text" id="nome" th:field="*{nome}">
        </br>
        <label for="descricao">Descrição</label>
            <textarea rows="3" cols="30" id="descricao"  th:field="*{descricao}"></textarea>
        <br>
            <input type="submit" value="Salvar">

    </form>

</body>
</html>